<%- include('../partials/header') %>

<div class="admin-menu">
  <h1>Admin</h1>
  <a href="/admin/projects" class="btn btn-primary btn-block">Manage Projects</a>
  <a href="/admin/categories" class="btn btn-primary btn-block">Manage Categories</a>
  <a href="/admin/users" class="btn btn-primary btn-block">Manage Users</a>
  <a href="/admin/submissions" class="btn btn-primary btn-block">Submissions</a>
  <a href="/admin/settings" class="btn btn-primary btn-block">Site Settings</a>
</div>

<%- include('../partials/footer') %>
